<!doctype html>
<html ng-app="hackday">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flickr Route</title>
  <meta name="viewport" content="width=device-width">


  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <link href="http://fonts.googleapis.com/css?family=Finger+Paint|Quattrocento+Sans" rel="stylesheet" type="text/css">

  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->

 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-sanitize.min.js"></script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="static/mainSite/app/scripts/ui-bootstrap-tpls-0.6.0.min.js"></script>
  <script src="static/mainSite/app/scripts/app.js"></script>

  <script src="static/mainSite/css/index.css"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDlmzIwnsi5U6effDsCZmolOHJntNonFbE&sensor=false&language=en"></script>
  <script src="static/mainSite/app/scripts/angular-google-maps.js"></script>
  <script src="static/mainSite/app/scripts/controllers/mapController.js"></script>
  <script src="static/mainSite/app/scripts/services/GeoLibrary.js"></script>


  <!-- endbuild -->
</head>
<body ng-controller="mapController">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.5/json3.min.js"></script>
  <![endif]-->

  <!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand logo">Flickr Route</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right input" style="display: inline-block; vertical-align: middle; margin-top:8px;">
          <li>
              <input type="text" class="form-control" id="inputOrigin" placeholder="origin" ng-model="origin" name="origin" required auto-fill-sync>

          </li>
          <li>
              <hr width="15" height="50">

          </li>
          <li>
              <input type="text" class="form-control" id="inputDestination" placeholder="destination" ng-model="destination" name="destination" required auto-fill-sync>

          </li>
          <li>
              <hr width="15" height="50">

          </li>
          <li>
             <button class="btn btn-primary" ng-click="doSearch()">Search!</button>
          </li>
          <li>
              <hr width="5" height="50">
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- modal -->
  <!-- signin -->

  <!--        You can use either a div having class 'google-map' or the '<google-map>' element; in
  the latter case, uncomment the style above to make sure the custom elements gets block display        -->

  <div class="google-map"
       center="centerProperty"
       zoom="zoomProperty"
       markers="markersProperty"
       latitude="clickedLatitudeProperty"
       longitude="clickedLongitudeProperty"
       mark-click="false"
       draggable="true"
       fit="true"
       events="eventsProperty"
       style="height: 500px; width: 80%; margin-top: 55px; margin-left: 10%;">
  </div>


  <!-- Debug Model -->
  <div>
      <p>Map Center:{{ centerProperty }}</p>
      <p>NaviEntity:{{ NaviEntity }}</p>
  </div>

</body>
</html>
